@charset "UTF-8"; 


@media screen and (min-width: 800px) {
    section#login { 
        width: 80vw;
        height: 280px;
    }

    body {
        background-image: linear-gradient(to right, #011826, #523e84);

    }

    div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 60%;
    }

    #formulario p {
        margin-bottom: 10px;

    }
    
}

@media screen and (min-width: 1200px) {

    body {
        background-image: linear-gradient(to right, #011826, #523e84);

    }
    
    section#login {
        width: 900px;
        height: 310px;
    }

    div#imagem {
        width: 50%;
        float: right;
        height: 100%;
    }

    div#formulario {
        width: 50%;
        float: left; 
    }

    div#formulario h1 {
        font-size: 2.5em;
    }

    div#formulario p {
        font-size: 1em;
    }
}



